.wrapper {
	_width:650px;
	_height:100%;
	}
.site-name a {
	color:#000;
	}
.about h2 {
	background:#FFF;
	left:50px;
	height:auto;
	width:auto;
	margin:0;
	text-indent:0;
	}
.social li {
	background:none;
	display:inline;
	text-indent:0;
	width:auto;
	height:0;
	zoom:1;
	}

