html,
body {
	height:100%;
	}
body {
	color:#0A0A0A;
	background-color:#FFF;
	font:22.5px/140% Georgia,serif;
	word-wrap:break-word;
	}
.wrapper {
	max-width:800px;
	min-width:500px;
	min-height:100%;
	margin:0 auto;
	}
.feed {
	padding:0 50px 160px;
	}

.header {
	padding:60px 50px;
	overflow:hidden;
	border-bottom:1px dotted #999;
	}
.title {
	display: inline-block;
	}
.site-name {
	margin:0 0 60px;
	padding:5px 0;
	font:bold 33.75px/26px Helvetica,Arial,sans-serif;
	}
.menu {
	float:left;
	width:70%;
	}
.menu ul {
	display:inline;
	}
.menu li {
	display:inline;
	font-size:16px;
	padding:0 10px 0 0;
	}

.additional-box,
.intro {
	position:relative;
	padding:60px 50px;
	background-color:#EEE;
	color:#333;
	font-family:Arial,sans-serif;
	display:none;
	}
.additional-box,
.intro.show {
	display:block;
	}
.additional-box {
	overflow:hidden;
	padding:5px 50px;
	box-shadow:0 2px 4px;
	}
.intro {
	border:1px dotted #999;
	border-width:1px 0;;
	}
.additional-box p,
.intro p {
	font-size:.8em;
	line-height:1em;
	margin:5px 0;
	}
.intro .close {
	position:absolute;
	right:27px;
	top:17px;
	font-weight:bold;
	font-style:normal;
	cursor:pointer;
	}

.additional-box H1 {
    font-size: 18px;
    display: inline-block;
	}

.additional-box .rss {
	float:left;
	margin:0 50px 0 0;
	}
.additional-box .rss a {
	display:block;
	width:32px;
	height:32px;
	background:url(http://vperde.com/static/rss.png) no-repeat 0 0;
	text-indent:-9999px;
	}
.additional-box .search {
	float:right;
	}
.additional-box .search input[type="text"] {
	border:1px solid #F66;
	border-width:1px 0 1px 1px;
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
	float:left;
	height:30px;
	width:168px;
	padding:0 5px;
	}
.additional-box .search input[type="submit"] {
	background: url(http://duckduckgo.com/sbutton.v101.green.png) no-repeat 0 0;
	width:32px;
	height:32px;
	cursor:pointer;
	float:left;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	border:1px solid #18AB47;;
	padding:0;
	}

.post-item,
.archive-list {
	position:relative;
	margin:60px 0;
	}
.post-header h2,
.archive-header h2 {
	margin:5px 0 15px;
	text-shadow:1px 0 1px #999;
	font:33.75px/33.75px Helvetica,Arial,sans-serif;
	}
.juick .post-content {
	background:url(../static/juick.png) no-repeat 100% 5px;
	min-height:30px;
	padding:0 100px 0 0;
	}
.twitter .tweet {
	background:url(../static/twitter.png) no-repeat 100% 8px;
	padding:0 32px 0 0;
	}
.archive-item h2 {
	font-family:Helvetica,Arial,sans-serif;
	text-shadow:1px 0 1px #999;
	font-weight:normal;
	}
.archive-item h2,
.archive-item .date,
.archive-item .tag-list {
	display:inline;
	}
.post-content h3,
.post-content h4 {
	margin:15px 0;
	text-shadow:1px 0 1px #999;
	}
.post-content li,
.post-content p {
	margin:15px 0;
	text-shadow:1px 1px 1px #EEE;
	}
.post-content ul,
.post-content ol {
	padding:5px 0 5px 2em;
	}
.post-content ul,
.post-content ul ul ul {
	list-style:disc;
	}
.post-content ul ul {
	list-style:circle;
	}
.post-content ol,
.post-content ol ol ol {
	list-style:decimal;
	}
.post-content ol ol {
	list-style:arabic;
	}
.date {
	text-transform:lowercase;
	}
.date,
.tag-list,
.post-footer {
	color:#333;
	font-size:16px;
	}
.tag-list {
	float:left;
	}
.tag-list li {
	padding:0 5px 0 0;
	display:inline;
	font-size:16px;
	line-height:18px;
	}
.tag-list li:after {
	content:",";
	}
/* post specials */
.post-content blockquote {
	font-style:italic;
	padding:0 1em;
	background-color:#FAFAFA;
	}
.post-content .quote-source {
	font-weight:bold;
	font-style:italic;
	}

#disqus_thread {
	padding:0 0 50px;
	}
#post-notes {
	margin:60px 0;
	}
#post-notes ol {
	list-style:none;
	}
#post-notes li {
	font-size:16px;
	}
#post-notes img {
	vertical-align:middle;
	}

.img-wrapper {
    display: block;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    }

.img-wrapper:after {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

    cursor: pointer;
    }

.img-wrapper IMG {
    display: block;
    }

/* pagination */
.pagination {
	margin:60px 0;
	overflow:hidden;
	}
.pagination p {
	text-align:center;
	}
.pagination .prev {
	display:block;
	float:left;
	}
.pagination .next {
	display:block;
	float:right;
	}

/* scale fonts */
.scale {
	float:right;
	margin:0 50px 0 0;
	}
.scale li {
	display:inline-block;
	padding:0 0 0 10px;
	}
.scale li a {
	display:inline-block;
	vertical-align:top;
	}
.scale-big {
	font-size:24px;
	line-height:24px;
	}
.scale-normal {
	font-size:20px;
	line-height:20px;
	}
.scale-small {
	font-size:16px;
	line-height:18px;
	}
.big .post-header h2 {
	font-size:33.75px;
	line-height:33.75px;
	}
.normal .post-header h2 {
	font-size:25.25px;
	line-height:25.25px;
	}
.small .post-header h2 {
	font-size:18px;
	line-height:18px;
	margin:5px 0 5px;
	}
.big .post-content {
	font-size:22.5px;
	line-height:140%;
	}
.normal .post-content {
	font-size:16px;
	line-height:120%;
	}
.small .post-content {
	font-size:14px;
	line-height:100%;
	}
.small .post-content p,
.small .post-content li {
	margin:5px 0 0;
	}
.normal .date,
.normal .tag-list,
.normal .tag-list li,
.normal .post-footer,
.normal .post-footer li {
	line-height:120%;
	}
.small .date,
.small .tag-list,
.small .tag-list li,
.small .post-footer,
.small .post-footer li {
	font-size:14px;
	line-height:100%;
	}

/* footer */
.footer {
	padding:60px 50px;
	border-top:1px dotted #999;
	height:100px;
	max-width:700px;
	min-width:400px;
	position:relative;
	margin:-161px auto 0;
	}
.footer p {
	font-size:14px;
	}
.search-form {
	float:right;
	width:30%;
	}
.search-form p {
	position:relative;
	}
.search-form input {
	width:100%;
	font-size:16px;
	text-align:right;
	}
.search-form label {
	position:absolute;
	right:5px;
	top:3px;
	font-size:16px;
	color:#999;
	}

/* links */
a:link {
	color:#333;
	border-color:#333;
	text-decoration:underline;
	}
a:visited {
	color:#999;
	border-color:#999;
	text-decoration:underline;
	}
a:hover {
	color:#6E2727;
	border-color:#6E2727;
	text-decoration:none;
	}
a:active {
	color:#6E2727;
	border-color:#6E2727;
	text-decoration:none;
	}
.site-name a {
	color:#999;
	text-shadow:0 1px 4px #000;
	text-decoration:none;
	}
.site-name a:hover {
	text-shadow:0 1px 2px #000;
	}
.archive-list h2 a:link,
.post-header a:link {
	color:#000;
	}
.archive-list h2 a:visited,
.post-header a:visited {
	color:#0A0A0A;
	}
.archive-list h2 a:hover,
.archive-list h2 a:active,
.post-header a:hover,
.post-header a:active {
	color:#6E2727;
	}
.scale li a {
	text-decoration:none;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	}
.scale li.active a {
	border-bottom-width:0;
	}

pre {
	white-space:pre;
	overflow-x:scroll;
	background:#000;
	color:#FFF;
	}
pre code {
	background:#000;
	}
code {
	background:#CCC;
	}
.feedback {
	overflow:hidden;
	}
.feedback .comments {
	float:left;
	}
.feedback .share {
	float:right;
	margin:-3px 0 0;
	}
.b-share-popup {
	font-size:13px;
	}

