<!DOCTYPE HTML>
<html lang="en" profile="http://gmpg.org/xfn/11">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=IE=EmulateIE9" /> 
    <meta charset="UTF-8">
    <meta name="author" content="{{ author }}" />
    <title>{% if entry.title %}{% block title %}{{ entry.title }} | {% endblock %}{% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/reset.css") }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("css/main.css") }}" media="all"/>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ url_for("css/ie.css") }}" media="all"/><![endif]-->
    <link href="http://feeds.feedburner.com/fiskus" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
</head>
<body>
    <div class="wrapper">
        <div class="additional-box">
            <p class="rss"><a href="http://feeds.feedburner.com/fiskus">feeds.feedburner.com/fiskus</a></p>

            {% block sitetitle %}{% endblock %}

            <div class="title"></div>
            <div class="search">
                <form action="http://duckduckgo.com/"
                    target="_top"
                    name="x"
                    onsubmit="handleDuckDuckGoSubmit();">
                    <input id="hfi" name="q" type="text" value="" />
                    <input type="submit" value="" />
                    <script>
                        function handleDuckDuckGoSubmit() {
                            var hfi = document.getElementById('hfi');
                            var query = '!g ' + hfi.value + ' site:fiskus.name';
                            hfi.value = query;
                            return true;
                        }
                    </script>
                </form>
            </div>

            <div id="scale"></div>
        </div>

        {% block intro %}
            {% include '_intro.html' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
    <div class="footer vcard">
        <p><a class ="fn" href="http://chervonny.ru">Червонный Максим</a>, 2006 - 2012.</p>
        <p>Paботает на <a href="http://piranha.org.ua/cyrax">cyrax</a>, <a href="http://vim.org">vim</a> и такой-то матери.</p>
        <p>Тема оформления основана на <a href="https://github.com/fiskus/35-kisses">Thirty-Five Kisses.</a></p>
        <p><a class="url" href="https://plus.google.com/104400063604802066958/about/edit/em?rel=author">Аккаунт на G+</a></p>
    </div>

    {% include '_js-includes.html' %}
</body>
</html>
