<div class="intro">
    <h1 class="site-name"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <p>Блог не придерживается какой-то тематики, претерпел несколько инкарнаций (livejournal, tumblr, несколько блог-движков), обновляется нечасто. Лучший способ следить за обновлениями &mdash; добавить <a href="http://feeds.feedburner.com/fiskus">фид</a> в свой гугль-ридер, потому что я стараюсь не дублировать сообщения в социальные сети.</p>
    <p>Подробнее обо мне можно узнать на домашней страничке <a href="http://chervonny.ru">chervonny.ru</a>.</p>
    <p>Сюда импортированы старые записи из прошлой жизни блога, я не рекомендую их читать, они просто являются маячками, показывающими когда в моей жизни происходило что-то важное.</p>
    <p>Вы можете закрыть это сообщение, и оно больше не будет вас беспокоить. Также обращаю внимание, что вы можете изменять размер шрифта переключалками справа вверху, он тоже запомнится вашим браузером.</p>
    <p>Несмотря на то, что я позиционирую блог, как личный, буду рад, если вы расскажете друзьям про это сайт. У каждого поста есть кнопки лайков, скрытые за надписью "Мне нравится", не стесняйтесь нажимать.</p>
    <i class="close">x</i>
</div>
