{% extends "_base.html" %}

{% block sitetitle %}
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
        <div class="feed">
            <div class="posts-list">
                <div class="post-item post-text">
                    <div class="post-header">
                        <ul class="tag-list">
                        {% if entry.tags %}
                            {% for tag in entry.tags -%}
                            <li><a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a></li>
                            {%- endfor %}
                        {% endif %}
                        </ul>
                        <p class="date">{{ entry.date.strftime('%Y, %B %d') }}</p>
                        <h2><a href="{{ post.get_url() }}">{{ entry.title|typogrify }}</a></h2>
                        <div class="post-content">
                            {{ entry.body }}
                        </div>
                        <div class="post-footer">
                            <p class="feedback">
                                <span class="yashare-auto-init share" data-yashareL10n="ru" data-yashareType="link" data-yashareLink="{{ post.get_absolute_url() }}" data-yashareTitle="{{ post.title }}" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,lj,friendfeed"></span>
                            </p>
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = 'fiskus';
                                // var disqus_identifier = 'unique_dynamic_id_1234';
                                // var disqus_url = 'http://example.com/permalink-to-page.html';
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

