{% extends "_base.html" %}

{% block title %}{{ entry.slug }} | {% endblock %}

{% block content %}
<div class="feed">
    <div class="archive-list">
        <div class="archive-header"><h2>Посты с меткой &laquo;{{ entry.slug }}&raquo;</h2></div>
        {% for post in site.tags[entry.slug] %}
        <div class="archive-item">
            <h2><a href="{{ post.get_url() }}">{{ post.title }}</a></h2>
            <p class="date">{{ post.date.strftime('%d.%m.%Y') }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
