{% meta %}
    title:
    author: Maxim Chervonny
{% endmeta %}

{% block content %}
        <div class="feed">
            <div class="posts-list">
                {% for post in site.posts[:5] %}
                <div class="post-item">
                    <div class="post-header">
                        <ul class="tag-list">
                        {% if post.tags %}
                            {% for tag in post.tags -%}
                            <li><a href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a></li>
                            {%- endfor %}
                        {% endif %}
                        </ul>
                        <p class="date" data-time="{{ post.date.strftime('%s') }}000">{{ post.date.strftime('%d.%m.%Y') }}</p>
                        <h2><a href="{{ post.get_absolute_url() }}">{{ post.title }}</a></h2>
                    </div>
                    <div class="post-content">
                        {{ post.body }}
                    </div>
                    <div class="post-footer">
                        <p class="feedback">
                            <span class="yashare-auto-init share" data-yashareL10n="ru" data-yashareType="link" data-yashareLink="{{ post.get_absolute_url() }}" data-yashareTitle="{{ post.title }}" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,lj,friendfeed"></span>
                            <a href="{{ post.get_absolute_url() }}#disqus_thread" class="comments"></a>
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% set curyear = "" %}
                {% for post in site.posts[5:] %}
                    {% if curyear != post.date.year %}
            </div>
            <div class="archive-list">
                <div class="archive-header"><h2>{{ post.date.year }}</h2></div>
                        {% set curyear = post.date.year %}
                    {% endif %}
                <div class="archive-item">
                    <h2><a href="{{ post.get_absolute_url() }}">{{ post.title }}</a></h2>
                    <p class="date">{{ post.date.strftime('%B %d') }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
